body {
  background-image: linear-gradient(90deg, rgb(49, 182, 249) 0%, rgb(241, 73, 241) 33%, rgb(78, 255, 78) 85%);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
header img {
  width: stretch;
}

a {
  margin: 5px;
}



